<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>Evaluierungsbogen</title>
</head>
<body>
<div class="frage">
    <h1>Dozentenevaluation</h1>
    <div class="meta" style="width: 100%; height: 120px; background-color: #919191; padding: 1px 5px 1px 5px; color: white; box-sizing: border-box; border-radius: 7px" >
        <p><b>Lehrveranstaltung:</b> {{lehrveranstaltung}}</p>
        <p><b>Dozent:</b> {{dozent}}</p>
        <p>
            <span><b>Semester:</b> {{semester}}</span>
            <span><b>Jahrgang:</b> {{jahrgang}}</span>
            <span><b>Fachrichtung:</b> {{fachrichtung}}</span>
        </p>
    </div>
    <div class="Gesamt" style="width: 100%; background-color: #919191; border-radius: 7px; height: 125px; color: white; padding: 1px 5px 1px 5px; box-sizing: border-box; margin-top: 10px">
        <h4 style="margin-top: 6px; margin-bottom: 7px">1. Gesamtbeurteilung der Lehrveranstaltung:</h4>
        <span> • Gesamteindruck:</span>
        <label> <b>sehr gut</b>
            <input type="checkbox" name="frage1" value="1" {{checked11}}/>
            <input type="checkbox" name="frage1" value="2" {{checked12}}/>
            <input type="checkbox" name="frage1" value="3" {{checked13}}/>
            <input type="checkbox" name="frage1" value="4" {{checked14}}/>
            <input type="checkbox" name="frage1" value="5" {{checked15}}/> <b>sehr schlecht</b>
        </label> <br>
        <span> • Vergleich zu anderen Lehrveranstaltungen:</span>
        <label> <b>besser</b>
            <input type="checkbox" name="frage1" value="1" {{checked21}}/>
            <input type="checkbox" name="frage1" value="2" {{checked22}}/>
            <input type="checkbox" name="frage1" value="3" {{checked23}}/>
            <input type="checkbox" name="frage1" value="4" {{checked24}}/>
            <input type="checkbox" name="frage1" value="5" {{checked25}}/> <b>schlechter</b>
        </label> <br>
        <span> • Arbeitsklima / Atmosphäre in der Lehrveranstaltung:</span>
        <label> <b>sehr gut</b>
            <input type="checkbox" name="frage1" value="1" {{checked31}}/>
            <input type="checkbox" name="frage1" value="2" {{checked32}}/>
            <input type="checkbox" name="frage1" value="3" {{checked33}}/>
            <input type="checkbox" name="frage1" value="4" {{checked34}}/>
            <input type="checkbox" name="frage1" value="5" {{checked35}}/> <b>sehr schlecht</b>
        </label>
    </div>
    <div class="beurteilung" style="width: 100%; background-color: #919191; border-radius: 7px; height: 185px; color: white; padding: 1px 5px 1px 5px; box-sizing: border-box; margin-top: 10px">
        <h4 style="margin-top: 6px; margin-bottom: 7px">2. Beurteilung der Lehrinhalte bzw. der Konzeption der Lehrveranstaltung:</h4>
        <span> • Aufbau / Strukturierung: </span>
        <label> sehr gut
            <input type="checkbox" name="frage1" value="1" {{checked41}}/>
            <input type="checkbox" name="frage1" value="2" {{checked42}}/>
            <input type="checkbox" name="frage1" value="3" {{checked43}}/>
            <input type="checkbox" name="frage1" value="4" {{checked44}}/>
            <input type="checkbox" name="frage1" value="5" {{checked45}}/> sehr schlecht
        </label> <br>
        <span> • Detaillierungsgrad: einordnender Überblick: </span>
        <label> sehr gut
            <input type="checkbox" name="frage1" value="1" {{checked51}}/>
            <input type="checkbox" name="frage1" value="2" {{checked52}}/>
            <input type="checkbox" name="frage1" value="3" {{checked53}}/>
            <input type="checkbox" name="frage1" value="4" {{checked54}}/>
            <input type="checkbox" name="frage1" value="5" {{checked55}}/> sehr schlecht
        </label> <br>
        <span> • Detailinformation: </span>
        <label> sehr viel
            <input type="checkbox" name="frage1" value="1" {{checked61}}/>
            <input type="checkbox" name="frage1" value="2" {{checked62}}/>
            <input type="checkbox" name="frage1" value="3" {{checked63}}/>
            <input type="checkbox" name="frage1" value="4" {{checked64}}/>
            <input type="checkbox" name="frage1" value="5" {{checked65}}/> sehr wenig
        </label> <br>
        <span> • Stoffumfang:</span>
        <label> sehr hoch
            <input type="checkbox" name="frage1" value="1" {{checked71}}/>
            <input type="checkbox" name="frage1" value="2" {{checked72}}/>
            <input type="checkbox" name="frage1" value="3" {{checked73}}/>
            <input type="checkbox" name="frage1" value="4" {{checked74}}/>
            <input type="checkbox" name="frage1" value="5" {{checked75}}/> sehr gering
        </label> <br>
        <span> • Aktualität und Sachdienlichkeit des Lehrmaterials: </span>
        <label> sehr gut
            <input type="checkbox" name="frage1" value="1" {{checked81}}/>
            <input type="checkbox" name="frage1" value="2" {{checked82}}/>
            <input type="checkbox" name="frage1" value="3" {{checked83}}/>
            <input type="checkbox" name="frage1" value="4" {{checked84}}/>
            <input type="checkbox" name="frage1" value="5" {{checked85}}/> sehr schlecht
        </label> <br>
        <span> • Problem- bzw. Praxisbezug/-relevanz: </span>
        <label> sehr hoch
            <input type="checkbox" name="frage1" value="1" {{checked91}}/>
            <input type="checkbox" name="frage1" value="2" {{checked92}}/>
            <input type="checkbox" name="frage1" value="3" {{checked93}}/>
            <input type="checkbox" name="frage1" value="4" {{checked94}}/>
            <input type="checkbox" name="frage1" value="5" {{checked95}}/> sehr gering
        </label>
    </div>
    <div class="dozent" style="width: 100%; background-color: #919191; border-radius: 7px; height: 185px; color: white; padding: 1px 5px 1px 5px; box-sizing: border-box; margin-top: 10px">
        <h4 style="margin-top: 6px; margin-bottom: 7px">3. Beurteilung des Dozenten/ der Dozentin:</h4>
        <span> • Es wird das Interesse des Studierenden geweckt: </span>
        <label> trifft voll zu
            <input type="checkbox" name="frage1" value="1" {{checked101}}/>
            <input type="checkbox" name="frage1" value="2" {{checked102}}/>
            <input type="checkbox" name="frage1" value="3" {{checked103}}/>
            <input type="checkbox" name="frage1" value="4" {{checked104}}/>
            <input type="checkbox" name="frage1" value="5" {{checked105}}/> trifft gar nicht zu
        </label> <br>
        <span> • Inhalte werden interessant präsentiert:</span>
        <label> trifft voll zu
            <input type="checkbox" name="frage1" value="1" {{checked111}}/>
            <input type="checkbox" name="frage1" value="2" {{checked112}}/>
            <input type="checkbox" name="frage1" value="3" {{checked113}}/>
            <input type="checkbox" name="frage1" value="4" {{checked114}}/>
            <input type="checkbox" name="frage1" value="5" {{checked115}}/> trifft gar nicht zu
        </label> <br>
        <span> • Erklärungen sind klar und verständlich: </span>
        <label> trifft voll zu
            <input type="checkbox" name="frage1" value="1" {{checked121}}/>
            <input type="checkbox" name="frage1" value="2" {{checked122}}/>
            <input type="checkbox" name="frage1" value="3" {{checked123}}/>
            <input type="checkbox" name="frage1" value="4" {{checked124}}/>
            <input type="checkbox" name="frage1" value="5" {{checked125}}/> trifft gar nicht zu
        </label> <br>
        <span> • Auf (Zwischen-)Fragen wird stets eingegangen: </span>
        <label> trifft voll zu
            <input type="checkbox" name="frage1" value="1" {{checked131}}/>
            <input type="checkbox" name="frage1" value="2" {{checked132}}/>
            <input type="checkbox" name="frage1" value="3" {{checked133}}/>
            <input type="checkbox" name="frage1" value="4" {{checked134}}/>
            <input type="checkbox" name="frage1" value="5" {{checked135}}/> trifft gar nicht zu
        </label> <br>
        <span> • Aktive Beteiligung der Studierenden wird ermöglicht: </span>
        <label> trifft voll zu
            <input type="checkbox" name="frage1" value="1" {{checked141}}/>
            <input type="checkbox" name="frage1" value="2" {{checked142}}/>
            <input type="checkbox" name="frage1" value="3" {{checked143}}/>
            <input type="checkbox" name="frage1" value="4" {{checked144}}/>
            <input type="checkbox" name="frage1" value="5" {{checked145}}/> trifft gar nicht zu
        </label> <br>
        <span> • Dozent/Dozentin wirkt fachlich kompetent: </span>
        <label> trifft voll zu
            <input type="checkbox" name="frage1" value="1" {{checked151}}/>
            <input type="checkbox" name="frage1" value="2" {{checked152}}/>
            <input type="checkbox" name="frage1" value="3" {{checked153}}/>
            <input type="checkbox" name="frage1" value="4" {{checked154}}/>
            <input type="checkbox" name="frage1" value="5" {{checked155}}/> trifft gar nicht zu
        </label>
    </div>
    <div class="selbst" style="width: 100%; background-color: #919191; border-radius: 7px; height: 125px; color: white; padding: 1px 5px 1px 5px; box-sizing: border-box; margin-top: 10px">
        <h4 style="margin-top: 6px; margin-bottom: 7px">Engagement und Motivation der Studierenden (Selbsteinschätzung):</h4>
        <span> • Das Thema interessiert mich:</span>
        <label> trifft voll zu
            <input type="checkbox" name="frage1" value="1" {{checked161}}/>
            <input type="checkbox" name="frage1" value="2" {{checked162}}/>
            <input type="checkbox" name="frage1" value="3" {{checked163}}/>
            <input type="checkbox" name="frage1" value="4" {{checked164}}/>
            <input type="checkbox" name="frage1" value="5" {{checked165}}/> trifft gar nicht zu
        </label> <br>
        <span> • An der LV habe ich mich beteiligt:</span>
        <label> trifft voll zu
            <input type="checkbox" name="frage1" value="1" {{checked171}}/>
            <input type="checkbox" name="frage1" value="2" {{checked172}}/>
            <input type="checkbox" name="frage1" value="3" {{checked173}}/>
            <input type="checkbox" name="frage1" value="4" {{checked174}}/>
            <input type="checkbox" name="frage1" value="5" {{checked175}}/> trifft gar nicht zu
        </label> <br>
        <span> • Den Lernerfolg der LV beurteile ich als:</span>
        <label> sehr hoch
            <input type="checkbox" name="frage1" value="1" {{checked181}}/>
            <input type="checkbox" name="frage1" value="2" {{checked182}}/>
            <input type="checkbox" name="frage1" value="3" {{checked183}}/>
            <input type="checkbox" name="frage1" value="4" {{checked184}}/>
            <input type="checkbox" name="frage1" value="5" {{checked185}}/> sehr gering
        </label>
    </div>
    <div class="sonstiges" style="width: 100%; background-color: #919191; border-radius: 7px; height: 310px; color: white; padding: 1px 5px 1px 5px; box-sizing: border-box; margin-top: 10px; word-wrap: break-word">
        <h4 style="margin-top: 6px; margin-bottom: 7px">5. Anregungen, Hinweise, Verbesserungsvorschläge:</h4>
        <p>{{text}}</p>
    </div>
</div>


</body>
</html>