<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/css/footerResponsive.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<footer>
    <p id="contact">Kontakt:</p>
    <p id="adresse">Salzdahlumer Straße 160, 38126 Braunschweig</p>
    <a href="mailto:info@welfenakademie.de" id="mail">info@welfenakademie.de</a> <br>
    <img th:src="@{/images/logo_white.png}" alt="WelfenHub Logo" id="logoWa">
    <a th:href="@{/impressum}" id="imprint">Impressum</a>
</footer>
</body>
</html>