<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Dozenten-Bewertung</title>
    <link rel="stylesheet" th:href="@{/css/headerResponsive.css}">
    <link rel="stylesheet" th:href="@{/css/dozentenFeedback.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<header id="responsive-header">
    <nav>
        <div th:insert="fragments/headerResponsive.html"></div>
    </nav>
</header>
<h1>Dozentenevaluation</h1>
<form action="" id="mainForm">
    <input type="text" placeholder="Lehrveranstaltung" id="lehrveranstaltung" class="inputText" required>
    <input type="text" placeholder="Dozent" id="dozent" class="inputText" required>
    <input type="number" placeholder="Jahrgang" min="2022" id="inputYear" class="inputText" required>
    <input type="text" placeholder="Fachrichtung" id="fachrichtung" class="inputText" required>
    <select name="semester" id="semester" required>
        <option value="blocked" hidden selected>Semester</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>
    <div id="gesamtbeurteilung">
        <h3 id="gesamtH3">1. Gesamtbeurteilung der Lehrveranstaltung</h3>
        <span id="spanGesamteindruck">Gesamteindruck</span>
        <div id="line1"></div>
        <label id="gesamteindruckLabel"> sehr gut
            <input type="radio" name="gesamteindruck" value="1" class="gesamtEindruck" required>
            <input type="radio" name="gesamteindruck" value="2" class="gesamtEindruck">
            <input type="radio" name="gesamteindruck" value="3" class="gesamtEindruck">
            <input type="radio" name="gesamteindruck" value="4" class="gesamtEindruck">
            <input type="radio" name="gesamteindruck" value="5" class="gesamtEindruck"> sehr schlecht
        </label>
        <div id="l1" class="line"></div>
        <span id="spanVergleich">Vergleich zu anderen Lehrveranstaltungen</span>
        <label id="vergleichLabel"> besser
            <input type="radio" name="vergleich" value="1" class="vergleichAndere" required>
            <input type="radio" name="vergleich" value="2" class="vergleichAndere">
            <input type="radio" name="vergleich" value="3" class="vergleichAndere">
            <input type="radio" name="vergleich" value="4" class="vergleichAndere">
            <input type="radio" name="vergleich" value="5" class="vergleichAndere"> schlechter
        </label>
        <div id="l2" class="line"></div>
        <span id="spanArbeitsklima">Arbeitsklima/ Atmosphäre in der Lehrveranstaltung</span>
        <label id="klimaLabel"> sehr gut
            <input type="radio" name="arbeitsklima" value="1" class="arbeitsklima" required>
            <input type="radio" name="arbeitsklima" value="2" class="arbeitsklima">
            <input type="radio" name="arbeitsklima" value="3" class="arbeitsklima">
            <input type="radio" name="arbeitsklima" value="4" class="arbeitsklima">
            <input type="radio" name="arbeitsklima" value="5" class="arbeitsklima"> sehr schlecht
        </label>
    </div>
    <div id="beurteilungDiv">
        <h3 id="beurteilungH3">2. Beurteilung der Lehrinhalte bzw. der Konzeption der Lehrveranstaltung</h3>
        <div id="l3" class="line"></div>
        <span id="spanAufbau">Aufbau / Strukturierung</span>
        <label id="strukturierungLabel"> sehr gut
            <input type="radio" name="aufbau" value="1" class="aufbau" required>
            <input type="radio" name="aufbau" value="2" class="aufbau">
            <input type="radio" name="aufbau" value="3" class="aufbau">
            <input type="radio" name="aufbau" value="4" class="aufbau">
            <input type="radio" name="aufbau" value="5" class="aufbau"> sehr schlecht
        </label>
        <div id="l4" class="line"></div>
        <span id="spanDetail">Detaillierungsgrad: einordnender Überblick</span>
        <label id="detailLabel"> sehr gut
            <input type="radio" name="detail" value="1" class="detail" required>
            <input type="radio" name="detail" value="2" class="detail">
            <input type="radio" name="detail" value="3" class="detail">
            <input type="radio" name="detail" value="4" class="detail">
            <input type="radio" name="detail" value="5" class="detail"> sehr schlecht
        </label>
        <div id="l5" class="line"></div>
        <span id="spanDetailInfo">Detailinformation</span>
        <label id="detailInfoLabel"> sehr viel
            <input type="radio" name="detailInfos" value="1" class="detailInfos" required>
            <input type="radio" name="detailInfos" value="2" class="detailInfos">
            <input type="radio" name="detailInfos" value="3" class="detailInfos">
            <input type="radio" name="detailInfos" value="4" class="detailInfos">
            <input type="radio" name="detailInfos" value="5" class="detailInfos"> sehr wenig
        </label>
        <div id="l6" class="line"></div>
        <span id="spanStoff">Stoffumfang</span>
        <label id="umfangLabel"> sehr hoch
            <input type="radio" name="stoffumfang" value="1" class="stoffumfang" required>
            <input type="radio" name="stoffumfang" value="2" class="stoffumfang">
            <input type="radio" name="stoffumfang" value="3" class="stoffumfang">
            <input type="radio" name="stoffumfang" value="4" class="stoffumfang">
            <input type="radio" name="stoffumfang" value="5" class="stoffumfang"> sehr gering
        </label>
        <div id="l7"></div>
        <span id="spanSach">Aktualität und Sachdienlichkeit des Lehrmaterials</span>
        <label id="sachLabel"> sehr gut
            <input type="radio" name="sach" value="1" class="sach" required>
            <input type="radio" name="sach" value="2" class="sach">
            <input type="radio" name="sach" value="3" class="sach">
            <input type="radio" name="sach" value="4" class="sach">
            <input type="radio" name="sach" value="5" class="sach"> sehr schlecht
        </label>
        <div id="l8"></div>
        <span id="spanPraxis">Problem- bzw. Praxisbezug/-relevanz</span>
        <label id="praxisbezugLabel"> sehr hoch
            <input type="radio" name="praxis" value="1" class="praxis" required>
            <input type="radio" name="praxis" value="2" class="praxis">
            <input type="radio" name="praxis" value="3" class="praxis">
            <input type="radio" name="praxis" value="4" class="praxis">
            <input type="radio" name="praxis" value="5" class="praxis"> sehr gering
        </label>
    </div>
    <div id="dozentDiv">
        <h3 id="dozentH3">3. Beurteilung des Dozenten / der Dozentin</h3>
        <span id="spanInteresse">Es wird das Interesse der Studierenden geweckt</span>
        <label id="interesseWecken"> trifft voll zu
            <input type="radio" name="interesse" value="1" class="interesse" required>
            <input type="radio" name="interesse" value="2" class="interesse">
            <input type="radio" name="interesse" value="3" class="interesse">
            <input type="radio" name="interesse" value="4" class="interesse">
            <input type="radio" name="interesse" value="5" class="interesse"> trifft gar nicht zu
        </label>
        <div id="l10"></div>
        <span id="spanInteressant">Inhalte werden interessant präsentiert</span>
        <label id="presentationLabel"> trifft voll zu
            <input type="radio" name="presentation" value="1" class="presentation" required>
            <input type="radio" name="presentation" value="2" class="presentation">
            <input type="radio" name="presentation" value="3" class="presentation">
            <input type="radio" name="presentation" value="4" class="presentation">
            <input type="radio" name="presentation" value="5" class="presentation"> trifft gar nicht zu
        </label>
        <div id="l11"></div>
        <span id="spanExplanation">Erklärungen sind klar und verständlich</span>
        <label id="explanationLabel"> trifft voll zu
            <input type="radio" name="explanation" value="1" class="explanation" required>
            <input type="radio" name="explanation" value="2" class="explanation">
            <input type="radio" name="explanation" value="3" class="explanation">
            <input type="radio" name="explanation" value="4" class="explanation">
            <input type="radio" name="explanation" value="5" class="explanation"> trifft gar nicht zu
        </label>
        <div id="l12"></div>
        <span id="spanQuestion">Auf (Zwischen-)Fragen wird stets eingegangen</span>
        <label id="questionLabel"> trifft voll zu
            <input type="radio" name="question" value="1" class="question" required>
            <input type="radio" name="question" value="2" class="question">
            <input type="radio" name="question" value="3" class="question">
            <input type="radio" name="question" value="4" class="question">
            <input type="radio" name="question" value="5" class="question"> trifft gar nicht zu
        </label>
        <div id="l13"></div>
        <span id="spanAktiveBeteiligung">Aktive Beteiligung der Studierenden wird ermöglicht</span>
        <label id="aktiveBeteiligungLabel"> trifft voll zu
            <input type="radio" name="aktiveBeteiligung" value="1" class="aktiveBeteiligung" required>
            <input type="radio" name="aktiveBeteiligung" value="2" class="aktiveBeteiligung">
            <input type="radio" name="aktiveBeteiligung" value="3" class="aktiveBeteiligung">
            <input type="radio" name="aktiveBeteiligung" value="4" class="aktiveBeteiligung">
            <input type="radio" name="aktiveBeteiligung" value="5" class="aktiveBeteiligung"> trifft gar nicht zu
        </label>
        <div id="l14"></div>
        <span id="spanKompetent">Dozent/ Dozentin wirkt fachlich kompetent</span>
        <label id="kompetentLabel"> trifft voll zu
            <input type="radio" name="kompetent" value="1" class="kompetent" required>
            <input type="radio" name="kompetent" value="2" class="kompetent">
            <input type="radio" name="kompetent" value="3" class="kompetent">
            <input type="radio" name="kompetent" value="4" class="kompetent">
            <input type="radio" name="kompetent" value="5" class="kompetent"> trifft gar nicht zu
        </label>
    </div>
    <div id="selbst">
        <h3 id="selbstH3">4. Engagement und Motivation der Studierenden (Selbsteinschätzung)</h3>
        <div id="l15"></div>
        <span id="spanThema">Das Thema interessiert mich</span>
        <label id="themaLabel"> trifft voll zu
            <input type="radio" name="thema" value="1" class="thema" required>
            <input type="radio" name="thema" value="2" class="thema">
            <input type="radio" name="thema" value="3" class="thema">
            <input type="radio" name="thema" value="4" class="thema">
            <input type="radio" name="thema" value="5" class="thema"> trifft gar nicht zu
        </label>
        <div id="l16"></div>
        <span id="spanBeteiligung">An der LV habe ich mich beteiligt</span>
        <label id="beteiligungLabel"> trifft voll zu
            <input type="radio" name="beteiligung" value="1" class="beteiligung" required>
            <input type="radio" name="beteiligung" value="2" class="beteiligung">
            <input type="radio" name="beteiligung" value="3" class="beteiligung">
            <input type="radio" name="beteiligung" value="4" class="beteiligung">
            <input type="radio" name="beteiligung" value="5" class="beteiligung"> trifft gar nicht zu
        </label>
        <div id="l17"></div>
        <span id="spanLernerfolg">Den Lernerfolg der LV beurteile ich als</span>
        <label id="lernerfolgLabel"> sehr hoch
            <input type="radio" name="lernerfolg" value="1" class="lernerfolg" required>
            <input type="radio" name="lernerfolg" value="2" class="lernerfolg">
            <input type="radio" name="lernerfolg" value="3" class="lernerfolg">
            <input type="radio" name="lernerfolg" value="4" class="lernerfolg">
            <input type="radio" name="lernerfolg" value="5" class="lernerfolg"> sehr gering
        </label>
    </div>
    <h3 id="spanHinweise">5. Anregungen, Hinweise, Verbesserungsvorschläge</h3>
    <textarea maxlength="400" id="hints"></textarea>
    <input type="submit" value="Abschicken" id="submitButton2">
    <p id="status"></p>
</form>
<div th:insert="fragments/footer.html"></div>
</body>
<script src="/js/scriptDozentenFeedback.js"></script>
</html>

