<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="/css/feedbackStyle.css" />
    <link rel="stylesheet" th:href="@{/css/headerResponsive.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<!-- Include Header -->
<header id="responsive-header">
    <nav>
        <div th:insert="fragments/headerResponsive.html"></div>
    </nav>
</header>

    <h1>Feedback</h1>

    <form action="/feedback" method="post" id="formFeedback">
        <div>
            <input type="text" id="name" name="name" placeholder="Vollständiger Name (freiwillig)" maxlength="60">
        </div>
        <div>
            <input type="email" id="email" name="email" placeholder="E-Mail (freiwillig)" maxlength="120">
        </div>
        <div>
            <textarea id="message" name="message" rows="5" required placeholder="Ihre Nachricht..." maxlength="5000"></textarea>
        </div>
        <button type="submit">Feedback senden</button>
    </form>


    <div th:insert="fragments/footer.html"></div>
<script src="/js/scriptFeedback.js"></script>
</body>
</html>