<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <link rel="stylesheet" th:href="@{/css/Startseite_test.css}" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navdiv">
            <div class="name">WelfenHUB - wenn Welfen helfen</div>
            <ul>
                <li><a th:href="@{/}" class="active">Startseite</a></li>
                <li><a th:href="@{/posts}">Forum</a></li>
                <li><a th:href="@{/news}">News</a></li>
                <li><a th:href="@{/feedback}">Feedback</a></li>
                <li><a th:href="@{/impressum}">Impressum</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <button type="submit">Abmelden</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="center-image">
    <img th:src="@{/images/WelfenHUB_Logo_2.png}" alt="WelfenHUB Logo">
</div>

<hr>
<h1>Willkommen <span sec:authorize="isAuthenticated()" th:text="${#authentication.name}">Benutzer</span>!</h1>
<hr>

<div class="card-container">
    <div class="card">
        <img th:src="@{/images/Gruppenchat.jpg}" alt="Gruppenchat">
        <div class="card-content">
            <h3>Gruppenchat</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
            <a th:href="@{/chat}" class="btn">Anzeigen</a>
        </div>
    </div>


    <div class="card">
        <img th:src="@{/images/Forum.jpg}" alt="Forum">
        <div class="card-content">
            <h3>Forum</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
            <a th:href="@{/posts}" class="btn">Anzeigen</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/images/Fileshare.jpg}" alt="Fileshare">
        <div class="card-content">
            <h3>Fileshare</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
            <a href="#" class="btn">Anzeigen</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/images/Ereignisse.jpg}" alt="Ereignisse">
        <div class="card-content">
            <h3>Ereignisse</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
            <a href="#" class="btn">Anzeigen</a>
        </div>
    </div>
</div>

<footer>
    <p>Kontakt:<br>Salzdahlumer Straße 160, 38126 Braunschweig<br><a href="mailto:info@welfenakademie.de">info@welfenakademie.de</a></p>
    <img th:src="@{/images/WA_logo_white.png}" alt="WelfenHub Logo">
</footer>
</body>
</html>
