<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <link rel="stylesheet" th:href="@{/css/Startseite_test.css}" />
    <link rel="stylesheet" th:href="@{/css/headerResponsive.css}">
    <link rel="stylesheet" th:href="@{/css/footerResponsive.css}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
<header id="responsive-header">
    <nav>
        <div th:insert="fragments/headerResponsive.html"></div>
    </nav>
</header>

<div class="center-image">
    <a th:href="@{/}" class="active">
    <img th:src="@{/images/WelfenHUB_Logo_3.png}" alt="WelfenHUB Logo" class="fade-in">
    </a>
</div>

<hr>
<h1>Willkommen <span sec:authorize="isAuthenticated()" th:text="${#authentication.name}">Benutzer</span>!</h1>
<hr>

<div class="card-container">
    <div class="card">
        <img th:src="@{/images/Gruppenchat.jpg}" alt="Gruppenchat">
        <div class="card-content">
            <h3>Gruppenchat</h3>
            <p>Der Gruppenchat ist perfekt dafür geeinget, um Lerngruppen zu bilden und gemeinsam effektiv zu lernen. Hier kannst du dich mit Gleichgesinnten vernetzen, Wissen austauschen und deine Lernziele schneller erreichen.</p>
            <a th:href="@{/chat}" class="btn">Anzeigen</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/images/Forum.jpg}" alt="Forum">
        <div class="card-content">
            <h3>Forum</h3>
            <p>Dies ist der perfekte Ort für alle, die sich über Vorlesungen austauschen möchten. Hier könnt ihr eure Gedanken, Ideen und Erfahrungen teilen, Fragen stellen und euch gegenseitig unterstützen.</p>
            <a th:href="@{/forum}" class="btn">Anzeigen</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/images/Fileshare.jpg}" alt="Fileshare">
        <div class="card-content">
            <h3>Fileshare</h3>
            <p>Mit unserer Filesharing-Funktion kannst du schnell und unkompliziert Dateien mit anderen teilen und sicher speichern. Egal, ob Skripte oder Mitschriften unser System macht es dir leicht.</p>
            <a th:href="@{/fileshare}" class="btn">Anzeigen</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/images/Ereignisse.jpg}" alt="Ereignisse">
        <div class="card-content">
            <h3>Ereignisse</h3>
            <p>Die Ereignisseite ist deine erste Anlaufstelle für aktuelle Informationen über kommende Ereignisse innerhalb der WelfenAkademie, als auch außerhalb.</p>
            <a th:href="@{/ereignisse}" class="btn">Anzeigen</a>
        </div>
    </div>
</div>

<div th:insert="fragments/footerResponsive.html"></div>

</body>
</html>
