<!DOCTYPE html>
<html lang="de" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WelfenHUB - Job-Börse</title>
    <link rel="stylesheet" th:href="@{/css/headerResponsive.css}">
    <link rel="stylesheet" th:href="@{/css/footerResponsive.css}">
    <link rel="stylesheet" th:href="@{/css/jobs.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header id="responsive-header">
    <nav>
        <div th:insert="fragments/headerResponsive.html"></div>
    </nav>
</header>
<main>
    <h1>Job-Börse</h1>
    <span>Hier findest Du Stellenangebote von Unternehmen, die Deine Fähigkeiten gut gebrauchen könnten.</span>
    <button sec:authorize="hasRole('MODERATOR')" id="createStelle" onclick="showCreate()">Stellenausschreibung erstellen</button>
    <button sec:authorize="hasRole('MODERATOR')" id="removeStelle" onclick="showRemove()">Stellenausschreibung löschen</button>
    <div id="createPopUp">
        <span class="close-button" onclick="showCreate()">&times;</span>
        <h4>Stellenausschreibung erstellen</h4>
        <input type="text" id="title" placeholder="Titel">
        <textarea id="content" placeholder="Inhalt"></textarea>
        <input type="url" id="url" placeholder="URL">
        <button onclick="submitNewJob()">Stellenausschreibung veröffentlichen</button>
        <p id="status"></p>
    </div>
    <div id="removePopUp">
        <span class="close-button" onclick="showRemove()">&times;</span>
        <h4>Stellenausschreibung löschen</h4>
        <ul id="toRemoveList"></ul>
    </div>
    <div id="jobArea"></div>
</main>

<div th:insert="fragments/footerResponsive.html"></div>
<script src="/js/jobScript.js"></script>
</body>
</html>