<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password reset</title>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/passwordReset.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Passwortänderung für dieses Konto beantragen</h1>
<form id="resetForm" enctype="multipart/form-data">
    <input id="emailReq" type="email" name="eingabe" placeholder="E-Mail" required>
    <button type="submit" id="submitMail">Absenden</button>
</form>

<script src="/js/scriptPasswordReset.js"></script>
</body>
</html>