<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password reset</title>
</head>
<body>
<h2>Passwortänderung für dieses Konto beantragen:</h2>
<form action="#" th:action="@{/passwordResetProcess}" method="post"> <!-- passwordResetProcess ??-->
    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
    <input type="email" name="eingabe" placeholder="Email" required>
    <button type="submit">Absenden</button>
</form>

<p th:text="${mailStatus}"></p>

<footer>
    <p>Kontakt:<br>Salzdahlumer Straße 160, 38126 Braunschweig<br><a href="mailto:info@welfenakademie.de">info@welfenakademie.de</a></p>
    <img th:src="@{images/logo_white.png}" alt="WelfenHub Logo">
</footer>
</body>
</html>