<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password reset</title>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
</head>
<body>
<h2>Passwortänderung für dieses Konto beantragen:</h2>
<form id="resetForm" enctype="multipart/form-data">
    <input id="emailReq" type="email" name="eingabe" placeholder="E-Mail" required>
    <button type="submit">Absenden</button>
</form>

<p th:text="${mailStatus}"></p>


<footer>
    <p>Kontakt:<br>Salzdahlumer Straße 160, 38126 Braunschweig<br><a href="mailto:info@welfenakademie.de">info@welfenakademie.de</a></p>
    <img th:src="@{images/logo_white.png}" alt="WelfenHub Logo">
</footer>
<script src="/js/scriptPasswordReset.js"></script>
</body>
</html>