<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrierung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<header>
    <img th:src="@{/images/WelfenHUB_Logo_2.png}" alt="Welfenakademie Logo">
</header>

<div class="wrapper">
    <form th:action="@{/register}" th:object="${user}" method="post" id="formularRegister">
        <h1>WelfenHub Registrierung</h1>
        <div class="input-box">
            <input type="text" id="username" th:field="*{username}" required placeholder="Username"/>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
        </div>
        <div class="input-box">
            <input type="password" id="password" th:field="*{password}" required placeholder="Passwort"/>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        </div>
        <div class="input-box">
            <input type="password" id="confirmPassword" name="confirmPassword" required
                   placeholder="Passwort wiederholen"/>
        </div>
        <div class="input-box">
            <input type="email" id="email" th:field="*{email}" required placeholder="E-Mail"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        </div>
        <div class="input-box">
            <input type="text" id="fullName" th:field="*{fullName}" placeholder="Vollständiger Name"/>
        </div>
        <div>
            <button type="submit" id="submitButton">Registrieren</button>
        </div>
        <div class="login-link">
            <p>Oder zum login?
                <a href="/login" id="loginLink">Login</a>
            </p>
        </div>
        <div th:if="${error}" th:text="${error}"></div>
    </form>
</div>

<footer>
    <p>Kontakt:<br>Salzdahlumer Straße 160, 38126 Braunschweig<br><a href="mailto:info@welfenakademie.de">info@welfenakademie.de</a></p>
    <img th:src="@{images/logo_white.png}" alt="WelfenHub Logo">
</footer>
</body>
</html>
