<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Passwort ändern</title>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/resetPassword.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/welfenHUB_favicon.png">
</head>
<body>

<h1>Hier können Sie Ihr Passwort ändern</h1>
<form action="" id="newPasswordForm">
    <input type="password" placeholder="Neues Passwort eingeben..." required id="newPassword">
    <input type="password" placeholder="Passwort wiederholen" required id="passwordRepeat">
    <input type="submit" value="Abschicken" id="submitNewPassword">
</form>

<script src="/js/scriptChangePasswordAfterReset.js"></script>
</body>
</html>