<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fach Auswahl</title>
    <link rel="stylesheet" th:href="@{/css/start.css}" />
    <link rel="stylesheet" th:href="@{/css/footerResponsive.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header id="responsive-header">
    <nav>
        <div th:insert="fragments/headerResponsive.html"></div>
    </nav>
</header>

<div class="container">
    <h1>Fachbereich Auswahl</h1>
    <div class="subjects-container">
        <div class="subject-box">
            <a th:href="@{/forum/bwl}" class="subject-link">
                <img th:src="@{/images/StudiengangBWL.jpg}" alt="BWL" class="subject-image">
                <span class="subject-text">BWL</span>
            </a>
        </div>

        <div class="subject-box">
            <a th:href="@{/forum/wirtschaftsinformatik}" class="subject-link">
                <img th:src="@{/images/StudiengangWINF.jpg}" alt="Wirtschaftsinformatik" class="subject-image">
                <span class="subject-text">Wirtschaftsinformatik</span>
            </a>
        </div>

        <div class="subject-box">
            <a th:href="@{/forum/sonstiges}" class="subject-link">
                <img th:src="@{/images/Sonstiges2.png}" alt="Sonstiges" class="subject-image">
                <span class="subject-text">Sonstiges</span>
            </a>
        </div>
    </div>
</div>

<div th:insert="fragments/footerResponsive.html"></div>
</body>
</html>
