<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fach Auswahl</title>
    <link rel="stylesheet" th:href="@{/css/start.css}" />
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navdiv">
            <div class="name">WelfenHUB - wenn Welfen helfen</div>
            <ul>
                <li><a th:href="@{/}" class="active">Startseite</a></li>
                <li><a th:href="@{/posts}">Forum</a></li>
                <li><a th:href="@{/news}">News</a></li>
                <li><a th:href="@{/feedback}">Feedback</a></li>
                <li><a th:href="@{/impressum}">Impressum</a></li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin/AdminDashboard}" class="btn">Admin Dashboard</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <button type="submit">Abmelden</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <h1>Fachbereich Auswahl</h1>
    <div class="subjects-container">
        <div class="subject-box">
            <a th:href="@{/forum/bwl}" class="subject-link">BWL</a>
        </div>
        <div class="subject-box">
            <a th:href="@{/forum/wirtschaftsinformatik}" class="subject-link">Wirtschaftsinformatik</a>
        </div>
        <div class="subject-box">
            <a th:href="@{/forum/sonstiges}" class="subject-link">Sonstiges</a>
        </div>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>
