footer {
    font-family: Arial, sans-serif;
    background-color: #00274d;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: auto;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

footer {
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    width: 50px;
    height: auto;
    margin-top: -50px;
    float: right;
    position: relative;
    right: 10px;
    bottom: 10px;
    top: auto;
}

footer #imprint,
footer #privacy {
    text-align: center;
    color: #ffffff;
    display: inline-block;
    margin-top: 15px;
    text-decoration-line: underline;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;  /* Sorgt dafür, dass das Video den gesamten Container ausfüllt */
    display: none; /* Anfangs unsichtbar */
    overflow: visible;
}

@media (max-width: 500px) {
    footer {
        height: 180px;
    }
    #logoWa {
        display: none;
    }
}